 {% extends "base.html" %}
 
 {% block content%}
  <div class="container ">
    <div class="row">
        <div class="col-12">
            <h1 class="text-center mt-2 mb-2"> Add your Task here!</h1>
        </div>
        <div class="row">
        <div class="col-12">
            <form class="row g-3 justify-content-center" action="add/" method="POST" >
                 {% csrf_token %}
                <div class="col-auto">
               {{form.todo_text}}   
                </div>
                <div class="col-auto">
                  <button type="submit" class=" mx- btn btn-primary mb-3">ADD</button>
                </div>
              </form>
              <div class="row mt-5 ">
                <div class="col-12 table responsive">
                    <table class="table " style="opacity:0.9" >
                        
                        <tbody>
                            {% for i in todo_list%}
                          <tr>
                           
                            <td>
                                
                                {{ i.todo_text }}
                                <p class="text-muted"><small>Added on {{ i.added_date}}
                                
                            </td>
                            <td align="right">
                               
                                <form method="POST" action="{% url "delete" i.id %}">
                                {% csrf_token%}
                                    <button type="submit" class=" mx-111 btn btn-danger mb-3">DELETE</button>
                                </form>
                            </td>
                            <td align="left">
                                <a href="{% url "edit" i.id %}" type="button" class=" mx-2 btn btn-success mb-3">EDIT</button>
                            </td>
                          </tr>
                          {% endfor%}
                         
                        </tbody>
                      </table>
                </div>
            </div> 
        </div>
        </div>

    
    </div>

</body>
</html>
{% endblock%}